@import "tailwindcss";

:root {
  /*
  --bg: #ffffff;
  --txt: #171717;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(200, 75%, 50%);
    --primary-hover: hsl(200, 75%, 60%);

    --bg: hsl(220, 15%, 10%);
    --surface: hsl(220, 15%, 15%);
    --txt: hsl(220, 10%, 95%);
    --txt-muted: hsl(220, 10%, 65%);
    --bdr: hsl(0, 0%, 50%);
    --hvr: hsl(220, 15%, 20%);
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-txt: var(--txt);
  --color-txt-muted: var(--txt-muted);
  --color-bdr: var(--bdr);
  --color-hvr: var(--hvr);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--bg);
  color: var(--txt);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-color: var(--txt);
  color: var(--bg);
  height: 100vh;
}

button {
  background-color: var(--primary);
  color: var(--txt);
  padding: 5px 15px;
  border: 1px solid var(--bdr);
  border-radius: 5px;
  text-transform: capitalize;
}

button:hover {
  background-color: var(--primary-hover);
}